
apiVersion: v1
kind: Service
metadata:
  name: lifecycle-webhook-service
  namespace: system
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  selector:
    control-plane: lifecycle-operator
