extends: default

rules:
  braces:
    level: warning
    max-spaces-inside: 1
  brackets:
    level: warning
    max-spaces-inside: 1
  commas:
    level: warning
  comments: disable 
  comments-indentation: disable
  document-end:
    present: false
  document-start:
    present: false
  indentation:
    spaces: consistent
    indent-sequences: consistent    
  line-length:
    level: warning
    max: 150  
  trailing-spaces: disable
  truthy: disable

