extends: default

ignore: |
  docs/tmp/
  test/prometheus
  **/rendered/release.yaml
  examples/support/observability/config/prometheus
  dashboards/grafana

rules:
  braces:
    max-spaces-inside: 1
    min-spaces-inside: 1
  brackets:
    forbid: non-empty
  colons: enable
  commas: enable
  comments: enable
  comments-indentation: enable
  document-end: disable
  document-start: disable
  empty-lines: enable
  hyphens: enable
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: true
  key-duplicates: enable
  key-ordering: disable
  line-length:
    max: 150
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: enable
  quoted-strings: disable
  trailing-spaces: enable
  truthy:
    level: error
