##############################################################
#
# Lists the owners of this project
#
##############################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#
*   @thisthat @thschue
/.github/ @mowies @philipp-hinteregger
