# permissions for end users to view keptnmetricsproviders.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: keptnmetricsprovider-viewer-role
rules:
- apiGroups:
  - metrics.keptn.sh
  resources:
  - keptnmetricsproviders
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - metrics.keptn.sh
  resources:
  - keptnmetricsproviders/status
  verbs:
  - get
