.td-navbar .navbar-brand__name {
    display: none;
  }

$primary: #006bb8;
$secondary: #469bdd;
$light: #c9e0f1;

#td-cover-block-0 {
  background-size: 100% auto;
  background-position-y: bottom;
}


.capability::before {
  content: '';
  height: 128px;
  width: 170px;
  display: block;
  background-position: center;
}

.capability01::before {
  background: url('/images/home/capabilities/capabilities-01.svg');
}
.capability02::before {
  background: url('/images/home/capabilities/capabilities-02.svg');
}
.capability03::before {
  background: url('/images/home/capabilities/capabilities-03.svg');
}
.capability04::before {
  background: url('/images/home/capabilities/capabilities-04.svg');
}
.capability05::before {
  background: url('/images/home/capabilities/capabilities-05.svg');
}

.td-overlay--dark::after {
  background-color: transparent !important;
}


.whykeptn img {
  width: 100%;
}
.whykeptn {
  text-align: left;
}
.whykeptn h2::after {
  display: block;
  content: " ";
  width: 80px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0;
  border-bottom: 4px solid #006bb8;
}

.whykeptn-left {
  text-align: left;
}
.whykeptn-right {
  text-align: left;
}
