.td-navbar .navbar-brand__name {
    display: none;
  }

$primary: #006bb8;
$secondary: #469bdd;
$light: #d8e6f4;

#td-cover-block-0 {
  background-size: 100% auto;
  background-position-y: bottom;
}


.home::before {
  content: '';
  height: 128px;
  width: 170px;
  display: block;
  background-position: center middle;
  background-color: #d8e6f4;
  border-radius: 25px;
}

.homeorchestrate::before {
  background-image: url('/images/home/capabilities/capabilities-03.svg');
}
.homeobservability::before {
  background-image: url('/images/home/capabilities/capabilities-04.svg');
}
.homedata::before {
  background-image: url('/images/home/capabilities/capabilities-01.svg');
}
.td-overlay--dark::after {
  background-color: transparent !important;
}

.whykeptn img {
  width: 100%;
}
.whykeptn {
  text-align: left;
}
.whykeptn h2::after {
  display: block;
  content: " ";
  width: 80px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0;
  border-bottom: 4px solid #006bb8;
}

.whykeptn-left {
  text-align: left;
}
.whykeptn-right {
  text-align: left;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("/Ubuntu-Medium.ttf");
 }

 .td-main h1, .styled {
  font-family: Ubuntu
 }
.usecasebox {
  margin-top: 50px;
  background-image: linear-gradient(180deg, rgba(0, 107, 184, 0.0), rgba(0, 107, 184, 0.50));
  border-radius: 25px;
  padding: 20px;
}