apiVersion: v1
kind: Service
metadata:
  name: metrics-operator-service
  namespace: {{ .Release.Namespace | quote }}
  labels:
    control-plane: metrics-operator
{{- include "common.labels.standard" ( dict "context" . ) | nindent 4 }}
spec:
  type: {{ .Values.operatorService.type }}
  selector:
    control-plane: metrics-operator
  {{- include "common.selectorLabels"  ( dict "context" . )  | nindent 4 }}
  ports:
	{{- .Values.operatorService.ports | toYaml | nindent 2 -}}
