apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: metrics-operator-hpa-controller
  namespace: {{ .Release.Namespace | quote }}
  labels:
{{- include "common.labels.standard" ( dict "context" . ) | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'metrics-operator-server-resources'
subjects:
- kind: ServiceAccount
  name: horizontal-pod-autoscaler
  namespace: '{{ .Release.Namespace }}'