resources:
- manager.yaml
- service.yaml
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: metrics-manager-config
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: controller
  newName: ghcr.keptn.sh/keptn/metrics-operator
  newTag: v0.7.0
