global:
  certManagerEnabled: false

lifecycleOperator:
  enabled: true
  promotionTasksEnabled: true
  image:
    repository: busybox
    tag: 1.37
    imagePullPolicy: Always
  hostNetwork: true
  deniedNamespaces: ["foo", "bar"]

metricsOperator:
  enabled: false
  imagePullSecrets: []
