global:
  imageRegistry: "testreg"

certManager:
  enabled: false
lifecycleOperator:
  enabled: true
  lifecycleOperator:
    image:
      repository: myrep

metricsOperator:
  enabled: false

  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []