# permissions for end users to view keptnappversions.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: keptnappversion-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: keptn-lifecycle-toolkit
    app.kubernetes.io/part-of: keptn-lifecycle-toolkit
    app.kubernetes.io/managed-by: kustomize
  name: keptnappversion-viewer-role
rules:
  - apiGroups:
      - lifecycle.keptn.sh
    resources:
      - keptnappversions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - lifecycle.keptn.sh
    resources:
      - keptnappversions/status
    verbs:
      - get
