# permissions for end users to edit keptnappcreationrequests.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: keptnappcreationrequest-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: keptn-lifecycle-toolkit
    app.kubernetes.io/part-of: keptn-lifecycle-toolkit
    app.kubernetes.io/managed-by: kustomize
  name: keptnappcreationrequest-editor-role
rules:
  - apiGroups:
      - lifecycle.keptn.sh
    resources:
      - keptnappcreationrequests
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - lifecycle.keptn.sh
    resources:
      - keptnappcreationrequests/status
    verbs:
      - get
