apiVersion: v1
kind: Service
metadata:
  name: lifecycle-operator-metrics-service
  namespace: {{ .Release.Namespace | quote }}
  labels:
    control-plane: lifecycle-operator
{{- include "common.labels.standard" ( dict "context" . ) | nindent 4 }}
{{- include  "common.annotations"  ( dict "context" . ) }}
spec:
  type: {{ .Values.lifecycleOperatorMetricsService.type }}
  selector:
    control-plane: lifecycle-operator
  {{- include "common.selectorLabels"  ( dict "context" . )  | nindent 4 }}
  ports:
	{{- .Values.lifecycleOperatorMetricsService.ports | toYaml | nindent 2 -}}