{{- if and (le .Capabilities.KubeVersion.Minor "16") (not .Values.schedulingGatesEnabled) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: scheduler-config
  namespace: {{ .Release.Namespace | quote }}
  labels:
  {{- include "chart.labels" . | nindent 4 }}
data:
  scheduler-config.yaml: |
    apiVersion: kubescheduler.config.k8s.io/v1beta3
    kind: KubeSchedulerConfiguration
    leaderElection:
      leaderElect: {{ .Values.schedulerConfig.leaderElection.leaderElect
        }}
    profiles: {{ toYaml .Values.schedulerConfig.profiles | nindent
      6 }}
{{- end }}