<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/assets/stylesheets/home.css">
{% endblock %}

{% block tabs %}
{{ super() }}

<!-- Main site Entry button descriptions -->
<div class="gradient-container">
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__image">
            </div>
            <div class="tx-hero__content">
                <img src="/assets/keptn-logo-white.svg" draggable="false" alt="graphic of sea men hoisting an anchor">
                <p>Supercharge your deployments with Keptn!</p>
                <a href="/docs/getting-started/" data-proofer-ignore title="Get started" class="md-button md-button--primary">
                    Get started
                </a>
                <a href="/docs/" data-proofer-ignore title="Documentation" class="md-button">
                    Documentation
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Main site box descriptions -->
<div class="top-hr">
    <div class="feature-item">
        <img src="/assets/capabilities-04.svg" draggable="false" alt="a man holding a sheet of paper with cog on it">
        <h2>
            Deployment Observability
        </h2>
        <p>Make ANY Kubernetes Deployment observable</p>
    </div>
    <div class="feature-item">
        <img src="/assets/capabilities-03.svg" draggable="false" alt="a man holding a sheet of paper with cog on it">
        <h2>
            Gather metrics from anywhere
        </h2>
        <p>Standardize access for all Observability Data for K8s</p>
    </div>
    <div class="feature-item">
        <img src="/assets/capabilities-01.svg" draggable="false" alt="a man holding a sheet of paper with cog on it">
        <h2>
            Orchestrate Deployment Checks
        </h2>
        <p>Gain confidence in your work with pre-/post-deployment checks</p>
    </div>
</div>

    <div class="top-hr">
        <div class="hr">
        </div>
    </div>
</div>
<div class="mx-auto">
    <div class="mb-4 d-none d-md-block " >
        <picture >
            <img alt="keptn" src="/assets/keptn-logo-white.svg">
        </picture>
    </div>
    <h2 class="styled display-3 mt-0 mb-4">Cloud native application lifecycle orchestration </h2>
    <div>
        <a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs">
            Docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
        </a>
        <a class="btn btn-lg btn-secondary mr-3 mb-4" href="/docs/getting-started/">
            Get Started <i class="fa-solid fa-rocket ml-2"></i>
        </a>
    </div>
</div>
<div class="usecasebox">

    ## Use Cases

    We extend the K8s APIs with the following Use Cases:

    <div class="row usecases">
        Make ANY Kubernetes Deployment observable

        <a class="btn btn-lg -bg-light mr-3 mb-4" href="#deployment-observability">
            read more <i class="fas fa-arrow-alt-circle-down ml-2"></i>
        </a>
        Standardize access for all Observability Data for K8s

        <a class="btn btn-lg -bg-light mr-3 mb-4" href="#gather-metrics-from-anywhere">
            read more <i class="fas fa-arrow-alt-circle-down ml-2"></i>
        </a>

        Gain confidence in your work with pre-/post-deployment checks

        <a class="btn btn-lg -bg-light mr-3 mb-4" href="#orchestrate-deployment-checks">
            read more <i class="fas fa-arrow-alt-circle-down ml-2"></i>
        </a>

    </div>
</div>


{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
