<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/home.css">
{% endblock %}

{% block tabs %}
{{ super() }}

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__image">
                <img src="assets/higher-compliance.png" draggable="false" alt="graphic of sea men hoisting an anchor">
            </div>
            <div class="tx-hero__content">
                <h1> Keptn </h1>
                <p>Supercharge your deployments with Keptn!</p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
                    Get started
                </a>
                <a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">
                    Go to GitHub
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Main site box descriptions -->
<div class="top-hr">
    <div class="feature-item">
        <h2>
            Deployment Observability
        </h2>
        <p>Make ANY Kubernetes Deployment observable</p>
    </div>
    <div class="feature-item">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                        d="M16 17v2H2v-2s0-4 7-4 7 4 7 4m-3.5-9.5A3.5 3.5 0 109 11a3.5 3.5 0 003.5-3.5m3.44 5.5A5.32 5.32 0 0118 17v2h4v-2s0-3.63-6.06-4M15 4a3.39 3.39 0 00-1.93.59 5 5 0 010 5.82A3.39 3.39 0 0015 11a3.5 3.5 0 000-7z" />
            </svg>Gather metrics from anywhere
        </h2>
        <p>Standardize access for all Observability Data for K8s</p>
    </div>
    <div class="feature-item">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><circle cx="8.5" cy="8.5" r="1.5"/><path d="M20.4 14.5L16 10 4 20"/></svg>
            Orchestrate Deployment Checks
        </h2>
        <p>Gain confidence in your work with pre-/post-deployment checks</p>
    </div>
</div>

<div class="top-hr">
    <div class="hr">
    </div>
</div>


{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
