body {
    overflow-x: hidden;
}

.md-content__inner {
    margin-bottom: 0;
    padding: 2.2rem 0;
}

.md-content__inner:before {
    display: none;
}

/* Prevent removing default title on the page */
.md-content__inner h1:first-child {
    display: block;
}

.frame {
    border: 0px;
}

.bg-blue {
    background-color: #011549;
    color: white;
}

.text-blue {
    color: #232EAB;
}

.text-bold {
    font-weight: 800;
}

.banner {
    margin-top: 107px;
}

.cncf-disclaimer {
    width: 600px;
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url("../images/cncf-color.svg");
}

[data-md-color-scheme="slate"] .cncf-disclaimer {
    background-image: url("../images/cncf-white.svg");
}

.md-main {
    flex-grow: 0;
}

.md-main__inner {
    display: flex;
    height: 100%;
}

.gradient-container {
    padding-top: 0rem;
}

.hero-container {
    background-color: var(--md-default-bg-color);
}

.md-button {
    background-color: #D9D9D9DE;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 1rem;
    padding: .625em 2em;
    transition: color 125ms, background-color 125ms, border-color 125ms;
}

.tx-hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/moon-gradient.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

[data-md-color-scheme="slate"] .tx-hero {
    background-image: url("../images/moon-gradient-dark.svg");
}

.tx-hero h1 {
    background:
        linear-gradient(220.89deg,
            #6BA3CE 21.74%,
            #5690BB 29.21%,
            #026BBA 42.97%,
            #93C5EA 55.34%,
            #4F9ED9 65.88%,
            #08528A 73.28%),
        conic-gradient(from 167.81deg at 48.75% 6.95%,
            #E625A7 0deg,
            #63A7D7 148.13deg,
            #7F5FB0 270deg,
            #F57534 360deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

[data-md-color-scheme="slate"] .tx-hero h1 {
    background: var(--md-default-fg-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

.hero-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    width: 50%;
    color: var(--md-default-fg-color);
}

.tx-hero__content {
    padding-bottom: 1rem;
    margin: 0 auto;
}

.tx-hero__image {
    width: 17rem;
    height: 17rem;
    order: 1;
    padding-right: 2.5rem;
}

.tx-hero .md-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.tx-hero .md-button--primary {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
}

.md-button--secondary {
    color: #161C5C;
}

.tx-hero .md-button:focus,
.tx-hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-primary-bg-color);
    border-color: var(--md-accent-fg-color);
}

.top-hr {
    margin-top: 42px;
}

.feature-item {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0 15px;
    word-break: break-word;
}

.feature-item h2 {
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
}

.feature-item p {
    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 10px;
    display: block;
}

.hr {
    border-bottom: 1px solid #eee;
    width: 100%;
    margin: 20px 0;
}

.text-center {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    font-family: "Lato", sans-serif;
    font-size: 23px;
    padding-bottom: 10px;
}

.md-footer {
    display: block;
}

.md-footer-meta__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.md-footer-social {
    padding-top: 20px;
}

/* new stuff */

.md-typeset h2+h3 {
    font-size: 1em;
    margin-top: -0.8em;
}

.md-typeset h2 {
    font-weight: 800;
}

.md-typeset figure {
    display: flex;
}

.md-content header {
    display: block;
}

.mdx-spotlight {
    margin: 2em 0;
}

.pt-4 {
    padding-top: 3em;
}

.mdx-spotlight__feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 48%;
    flex-flow: row nowrap;
    gap: 3.2rem;
    margin: 0 0 3.2rem;
}

.mdx-spotlight__feature:last-child {
    margin-bottom: 1em;
}

.mdx-spotlight__feature>img {
    display: block;
    flex-shrink: 0;
    border-radius: 0.2rem;
    box-shadow: var(--md-shadow-z2);
    max-width: 100%;
}

.mdx-spotlight__feature figcaption {
    margin-top: 0.8rem;
}


@media screen and (max-width: 30em) {
    .tx-hero h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 60em) {
    .md-sidebar--secondary {
        display: none;
    }

    .tx-hero {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .tx-hero h1 {
        width: 54rem;
    }

    .tx-hero__content {
        max-width: 22rem;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        margin-left: 1rem;
        margin-right: 4rem;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .md-typeset .header-link {
        display: none;
    }

    .cncf-disclaimer {
        width: 400px;
        height: 200px;
    }

    .hero-subtitle {
        font-size: 1rem;
        width: 80%;
    }

    .tx-hero {
        background-size: 80%;
    }

    .youtube-container {
        position: relative;
            width: 100%;
            overflow: hidden;
            padding-top: 75%;
    }

    .frame {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
        display: none;
    }

    .top-hr {
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 0.2rem;
    }

    .bottom-hr {
        margin-top: 10px;
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 0.2rem;
    }

    .feature-item {
        flex: 1;
        min-width: 0;
    }

    .feature-item:hover {
        background-color: var(--md-accent-fg-color--transparent);
        border-radius: 3px;
    }
}

@media screen and (max-width: 59.9375em) {
    .mdx-spotlight__feature {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }

    .mdx-spotlight__feature>img {
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
}

@media screen and (min-width: 60em) {
    .tx-container {
        padding-bottom: 1vw;
    }

    .top-hr {
        padding-bottom: 3vw;
    }

    .mdx-spotlight__feature:not(.reversed):nth-child(odd) {
        flex-direction: row-reverse;
    }

    .mdx-spotlight__feature.reversed:nth-child(even) {
        flex-direction: row-reverse;
    }
}
