apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.fullname" . }}-scheduler-config
  namespace: {{ .Release.Namespace | quote }}
  labels:
  {{- include "chart.labels" . | nindent 4 }}
data:
  scheduler-config.yaml: |
    apiVersion: kubescheduler.config.k8s.io/v1beta3
    kind: KubeSchedulerConfiguration
    leaderElection:
      leaderElect: {{ .Values.schedulerConfig.schedulerConfigYaml.leaderElection.leaderElect
        }}
    profiles: {{ toYaml .Values.schedulerConfig.schedulerConfigYaml.profiles | nindent
      6 }}