---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: keptnevaluationdefinitions.lifecycle.keptn.sh
spec:
  group: lifecycle.keptn.sh
  names:
    kind: KeptnEvaluationDefinition
    listKind: KeptnEvaluationDefinitionList
    plural: keptnevaluationdefinitions
    shortNames:
    - ked
    singular: keptnevaluationdefinition
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KeptnEvaluationDefinition is the Schema for the keptnevaluationdefinitions
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KeptnEvaluationDefinitionSpec defines the desired state of
              KeptnEvaluationDefinition
            properties:
              objectives:
                items:
                  properties:
                    evaluationTarget:
                      type: string
                    name:
                      type: string
                    query:
                      type: string
                  required:
                  - evaluationTarget
                  - name
                  - query
                  type: object
                type: array
              source:
                type: string
            required:
            - objectives
            - source
            type: object
          status:
            description: KeptnEvaluationDefinitionStatus defines the observed state
              of KeptnEvaluationDefinition
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: KeptnEvaluationDefinition is the Schema for the keptnevaluationdefinitions
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KeptnEvaluationDefinitionSpec defines the desired state of
              KeptnEvaluationDefinition
            properties:
              objectives:
                items:
                  properties:
                    evaluationTarget:
                      type: string
                    name:
                      type: string
                    query:
                      type: string
                  required:
                  - evaluationTarget
                  - name
                  - query
                  type: object
                type: array
              source:
                type: string
            required:
            - objectives
            - source
            type: object
          status:
            description: KeptnEvaluationDefinitionStatus defines the observed state
              of KeptnEvaluationDefinition
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: KeptnEvaluationDefinition is the Schema for the keptnevaluationdefinitions
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KeptnEvaluationDefinitionSpec defines the desired state of
              KeptnEvaluationDefinition
            properties:
              objectives:
                items:
                  properties:
                    evaluationTarget:
                      type: string
                    keptnMetricRef:
                      properties:
                        name:
                          type: string
                        namespace:
                          type: string
                      required:
                      - name
                      - namespace
                      type: object
                  required:
                  - evaluationTarget
                  - keptnMetricRef
                  type: object
                type: array
            required:
            - objectives
            type: object
          status:
            description: KeptnEvaluationDefinitionStatus defines the observed state
              of KeptnEvaluationDefinition
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
