---
apiVersion: lifecycle.keptn.sh/v1alpha1
kind: KeptnTaskDefinition
metadata:
  name: hello-world
spec:
  function:
    inline:
      code: |
        console.log("Hello World");

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
      annotations:
        keptn.sh/app: "application12"
        keptn.sh/workload: "service-test"
        keptn.sh/pre-deployment-tasks: "hello-world"
        keptn.sh/post-deployment-tasks: "hello-world,hello-world"
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
