name: Component Tests
on:
  workflow_call:
env:
  GO_VERSION: "~1.20"
defaults:
  run:
    shell: bash
jobs:
  component_tests:
    name: Component Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Install monitor action
        uses: GitHubSecurityLab/actions-permissions/monitor@v1

      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
          cache-dependency-path: 'lifecycle-operator/go.sum'
          check-latest: true

      - name: Execute Component Tests
        working-directory: lifecycle-operator
        run: make component-test

      - name: Report code coverage
        uses: codecov/codecov-action@v3
        with:
          flags: component-tests
