name: golangci-lint
on:
  push:
    branches:
      - 'main'
      - '[0-9]+.[1-9][0-9]*.x'
  pull_request:
    branches:
      - 'main'
      - '[0-9]+.[1-9][0-9]*.x'
    paths:
      - "**.go"
      - "**/go.mod"
      - "**/go.sum"
      - ".golangi.yml"
      - ".github/workflows/golangci-lint.yml"
      - "!docs/**"
env:
  # renovate: datasource=github-releases depName=golangci/golangci-lint
  GOLANGCI_LINT_VERSION: "v1.52.2"
  GO_VERSION: "~1.20"
jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: "lifecycle-operator"
            folder: "operator/"
          - name: "metrics-operator"
            folder: "metrics-operator/"
          - name: "scheduler"
            folder: "scheduler/"
          - name: "certificate-operator"
            folder: "klt-cert-manager/"
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Init go workspace
        id: init-go-workspace
        run: make workspace-init

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: ${{ matrix.config.folder }}
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          args: --config ../.golangci.yml -v
