name: Integration-Test-Component
on:
  workflow_call:
    inputs:
      runtime_tag:
        description: "Tag for the deno and python runner images"
        type: "string"
        required: true
      type:
        description: "Type of the tests that are going to be executed"
        type: "string"
        required: true

# Declare default permissions as read only.
permissions: read-all

env:
  GO_VERSION: "~1.21"
defaults:
  run:
    shell: bash

jobs:
  run-integration-test-component:
    name: Run Chainsaw Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - name: Setup cluster
        uses: ./.github/actions/deploy-keptn-on-cluster
        with:
          runtime_tag: ${{ inputs.runtime_tag }}
          values-file: values-integration-${{ inputs.type }}.yaml

      - name: Install and expose Prometheus
        uses: ./.github/actions/deploy-prometheus-on-cluster

      - name: Install Chainsaw
        uses: kyverno/action-install-chainsaw@dd64b5d7b2b7d36fdf701d48ac8b216aa94414db # v0.2.4

      - name: Run Integration Tests ${{ inputs.type }}
        working-directory: .
        run: make integration-test-${{ inputs.type }}

      - name: Create reports
        if: failure()
        working-directory: ./.github/scripts
        run: ./create-reports-full.sh

      - name: Upload cluster logs
        if: failure()
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: logs-integration-tests-${{ inputs.type }}
          path: .github/scripts/logs
