name: Integration-Test
on:
  workflow_call:
    inputs:
      runtime_tag:
        description: "Tag for the deno and python runner images"
        type: "string"
        required: true
      scheduling-gates:
        description: "Decides whether to use scheduling gates"
        type: "string"
        default: gates_off
      allowed-namespaces:
        description: "Decides whether to allow only certain namespaces"
        type: "string"
        default: allowed_ns_off
env:
  GO_VERSION: "~1.20"
defaults:
  run:
    shell: bash

jobs:
  run-integration-test:
    name: Run Chainsaw Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup cluster
        uses: ./.github/actions/deploy-keptn-on-cluster
        with:
          runtime_tag: ${{ inputs.runtime_tag }}
          scheduling-gates: ${{ inputs.scheduling-gates }}
          allowed-namespaces: ${{ inputs.allowed-namespaces }}

      - name: Install and expose Prometheus
        uses: ./.github/actions/deploy-prometheus-on-cluster

      - name: Install Chainsaw
        uses: kyverno/action-install-chainsaw@v0.1.7

      - name: Run Scheduling Gates Integration Tests
        if: inputs.scheduling-gates == 'gates_on' && inputs.allowed-namespaces == 'allowed_ns_off'
        working-directory: .
        run: make integration-test-scheduling-gates

      - name: Run Allowed namespaces Integration Tests
        if: inputs.allowed-namespaces == 'allowed_ns_on'
        working-directory: .
        run: make integration-test-allowed-namespaces

      - name: Run Integration Tests
        if: inputs.allowed-namespaces == 'allowed_ns_off'
        working-directory: .
        run: make integration-test

      - name: Create reports
        if: failure()
        working-directory: ./.github/scripts
        run: ./create-reports-full.sh

      - name: Upload cluster logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs-integration-tests-${{ inputs.scheduling-gates }}-${{ inputs.allowed-namespaces }}
          path: .github/scripts/logs
