name: Integration-Test
on:
  workflow_call:
    inputs:
      runtime_tag:
        description: "Tag for the deno and python runner images"
        type: "string"
        required: true
      helm-install:
        description: "Decides whether to install via helm"
        type: "boolean"
        default: true
      scheduling-gates:
        description: "Decides whether to use scheduling gates"
        type: "boolean"
        default: false
      allowed-namespaces:
        description: "Decides whether to allow only certain namespaces"
        type: "boolean"
        default: false
env:
  GO_VERSION: "~1.20"
  # renovate: datasource=github-tags depName=kudobuilder/kuttl
  KUTTL_VERSION: "v0.15.0"
defaults:
  run:
    shell: bash

jobs:
  run-integration-test:
    name: Run Integration Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup cluster
        uses: ./.github/actions/deploy-klt-on-cluster
        with:
          runtime_tag: ${{ inputs.runtime_tag }}
          helm-install: ${{ inputs.helm-install }}
          scheduling-gates: ${{ inputs.scheduling-gates }}
          allowed-namespaces: ${{ inputs.allowed-namespaces }}

      - name: Install and expose Prometheus
        uses: ./.github/actions/deploy-prometheus-on-cluster

      - name: Download KUTTL
        env:
          BASE_URL: "https://github.com/kudobuilder/kuttl/releases"
        run: |
          curl -fL "${BASE_URL}/download/${{ env.KUTTL_VERSION }}/kubectl-kuttl_${KUTTL_VERSION#v}_linux_x86_64" -o kubectl-kuttl
          chmod +x kubectl-kuttl
          mv kubectl-kuttl /usr/local/bin

      - name: Run Scheduling Gates Integration Tests
        if: inputs.scheduling-gates == true && inputs.allowed-namespaces == false
        working-directory: .
        run: make integration-test-scheduling-gates

      - name: Run Allowed namespaces Integration Tests
        if: inputs.allowed-namespaces == true
        working-directory: .
        run: make integration-test-allowed-namespaces

      - name: Run Integration Tests
        if: inputs.allowed-namespaces == false
        working-directory: .
        run: make integration-test

      - name: Create reports
        if: always()
        working-directory: ./.github/scripts
        run: ./create-reports-full.sh

      - name: Upload cluster logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: logs-integration-tests-helm_${{ inputs.helm-install }}-schedule_${{ inputs.scheduling-gates }}-allowed-ns_${{ inputs.allowed-namespaces }}
          path: .github/scripts/logs
