name: Integration-Test-Component
on:
  workflow_call:
    inputs:
      runtime_tag:
        description: "Tag for the deno and python runner images"
        type: "string"
        required: true
      type:
        description: "Type of the tests that are going to be executed"
        type: "string"
        required: true

# Declare default permissions as read only.
permissions: read-all

env:
  GO_VERSION: "~1.23"
defaults:
  run:
    shell: bash

jobs:
  run-integration-test-component:
    name: Run Chainsaw Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Setup cluster
        uses: ./.github/actions/deploy-keptn-on-cluster
        with:
          runtime_tag: ${{ inputs.runtime_tag }}
          values-file: values-integration-${{ inputs.type }}.yaml

      - name: Install and expose Prometheus
        uses: ./.github/actions/deploy-prometheus-on-cluster

      - name: Install Chainsaw
        uses: kyverno/action-install-chainsaw@d311eacde764f806c9658574ff64c9c3b21f8397 # v0.2.11

      - name: Run Integration Tests ${{ inputs.type }}
        working-directory: .
        run: make integration-test-${{ inputs.type }}

      - name: Create reports
        if: failure()
        working-directory: ./.github/scripts
        run: ./create-reports-full.sh

      - name: Upload cluster logs
        if: failure()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: logs-integration-tests-${{ inputs.type }}
          path: .github/scripts/logs
