name: Performance Tests
on:
  workflow_call:
    inputs:
      runtime_tag:
        description: "Tag for the functions runner image"
        type: "string"
        required: true
env:
  GO_VERSION: "~1.20"
  USE_EXISTING_CLUSTER: "true"
defaults:
  run:
    shell: bash
jobs:
  performance_tests:
    name: Performance Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup cluster
        uses: ./.github/actions/deploy-klt-on-cluster
        with:
          runtime_tag: ${{ inputs.runtime_tag }}

      - name: Execute Performance Tests
        working-directory: lifecycle-operator
        run: |
          make performance-test

      - name: Create reports
        if: always()
        working-directory: ./.github/scripts
        run: ./create-reports-toolkit.sh

      - name: Upload cluster logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: logs-performance-tests
          path: .github/scripts/logs
