name: Spell Checker
on:
  push:
    branches:
      - 'main'
      - '[0-9]+.[1-9][0-9]*.x'
    paths:
      - 'docs/**'
  pull_request:
    branches:
      - 'main'
      - '[0-9]+.[1-9][0-9]*.x'
      - page
    paths:
      - 'docs/**'

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v2

    - name: Check spelling of all files
      uses: crate-ci/typos@master
      with: 
        files: ./docs

    - name: Writes changes in the local checkout
      uses: crate-ci/typos@master
      with: 
        write_changes: true
