name: Set PR Labels

on:
  pull_request_target:
jobs:
  set-labels:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-22.04
    steps:
      - name: Update Labels
        uses: actions/labeler@v4
        with:
          sync-labels: true
