name: Validate Helm Chart
on:
  push:
    branches:
      - 'main'
      - '[0-9]+.[1-9][0-9]*.x'
  pull_request:
    branches:
      - 'main'
      - '[0-9]+.[1-9][0-9]*.x'
defaults:
  run:
    shell: bash
jobs:
  check-helm-docs:
    name: Check helm documentation values
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 16

      - name: Install readme generator
        run: |
          git clone https://github.com/bitnami-labs/readme-generator-for-helm.git
          cd ./readme-generator-for-helm
          npm ci
          npm install --location=global ./
          cd ..

      - name: Check if Helm doc is up to date
        ## TODO: test also other helm docs (metrics-operator, certificate-operator)
        run: |
          cd ./lifecycle-operator/chart/
          cp ./README.md ./README-old.md
          cat ./values.yaml ./doc.yaml > ./rendered.yaml
          readme-generator --values=./rendered.yaml --readme=./README.md
          if ! cmp --quiet ./README-old.md ./README.md; then
            echo "The Helm values have changes that are not reflected in the readme."
            echo "Please use ./.github/scripts/generate-helm-docs.sh to re-generate the docs."
            echo ""
            echo "=========== Diff ==========="
            diff -u ./README-old.md ./README.md
            exit 1
          else
            echo ""
            echo "Helm values documentation is correct!"
          fi

  helm-tests:
    name: Run helm tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Check if Helm template is up to date
        run: ./.github/scripts/helm-test.sh
