name: Validate Helm Chart
on:
  push:
    branches:
      - 'main'
      - '[0-9]+.[1-9][0-9]*.x'
    paths:
      - "**/chart/**"
  pull_request:
    branches:
      - 'main'
      - '[0-9]+.[1-9][0-9]*.x'
    paths:
      - "**/chart/**"

# Declare default permissions as read only.
permissions: read-all

defaults:
  run:
    shell: bash
jobs:
  check-helm-docs:
    name: Check helm documentation values
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        config:
          - name: keptn
            path: chart
          - name: keptn-lifecycle-operator
            path: lifecycle-operator/chart
          - name: keptn-metrics-operator
            path: metrics-operator/chart
          - name: keptn-cert-manager
            path: keptn-cert-manager/chart
    steps:
      - name: Check out code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 16

      - name: Install readme generator
        run: |
          git clone https://github.com/bitnami-labs/readme-generator-for-helm.git
          cd ./readme-generator-for-helm
          npm ci
          npm install --location=global ./
          cd ..

      - name: Check if Helm doc is up to date for ${{ matrix.config.name }}
        run: |
          cd ./${{ matrix.config.path }}/
          cp ./README.md ./README-old.md
          readme-generator --values=./values.yaml --readme=./README.md
          if ! cmp --quiet ./README-old.md ./README.md; then
            echo "The Helm values for ${{ matrix.config.name }} have changes that are not reflected in the readme."
            echo "Please use ./.github/scripts/generate-helm-docs.sh to re-generate the docs."
            echo ""
            echo "=========== Diff ==========="
            diff -u ./README-old.md ./README.md
            exit 1
          else
            echo ""
            echo "Helm values documentation for ${{ matrix.config.name }} is correct!"
          fi

  helm-tests:
    name: Run helm tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Check if Helm template is up to date
        run: make helm-test
